node_modules
dist
build
.edge-debug-profile
*.log
.DS_Store
.env
server-temp/
.models/
.models/**/*.partial

# Ignore the output video from Git but not videos you import into src/.
out

# Ignore locally uploaded video files.
public/uploads/*.mp4
